.AddButton {
    display: flex;
    flex-direction: column;
}

.AddButton button {
    background-color: darkcyan; /* Blue background */
    border-radius: 10px;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    box-shadow: 15px;
    margin: 10px;
}

/* Darker background on mouse-over */
.AddButton button:hover {
    background-color: rgb(0, 65, 65);
    transform: translate(0px, 2px);
    transition: 0.2s linear;
}