.Box {
    padding: 25px;
    margin: 15px;
    height: 280px;
    width: 260px;
    background-color: darkcyan;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid limegreen;
    box-shadow: 2px;
}

.Box textarea {
    color: white;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    outline: none;
    background-color: darkcyan;
    resize: none;
    border: 2px solid royalblue;
}

.Box textarea::-webkit-scrollbar {
    width: 10px;
  }

.Box textarea::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

.Box textarea::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

.Box textarea::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 65, 65);;
    border-radius: 10px;
}

.Box textarea::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
}

.Box h3{
    border: 2px solid royalblue;
    color: white;
}

.Box p{
    border: 2px solid royalblue;
    color: white;
}

